@use '../components/_card';

:root {
  height: 100vh;
  width: 100vw;
}

* {
 margin: 0; 
}

body {
  height: 100%;
  width: 100%;
}

.title {
  height: 5%;
}

main {
  height: 95%;
  width: 90%;
  padding: 0 5%;
  display: grid;
  grid-template-areas: 
  "a b c"
  "a b d"
  "e e f "
  "e e f";
  gap: 5%;
}

.fleet-overview {
  grid-area: a;
}

.cpu-overview {
  grid-area: b
}

.mem-overview {
  grid-area: c;
}

.disk-overview {
  grid-area: d;
}

.running-containers {
  grid-area: e;
}

.recent-activities {
  grid-area: f;
}